$White: #ffffff;
$Black: #000000;

//grays
$Nobel: #b6b6b6;
$Silver: #cccccc;
$ScarpaFlow: #58585a;
$DoveGray: #666666;
$Gallery: #eeeeee;

//blues
$Malibu: #64B5F6;
$Matisse: #1B659D;

//Reds 
$Red: #f60100;