header{
    padding: em(20px);
    .logo{

        margin:0;
        float: left;
        a{
            display: block;
            text-indent: -9999px;
            background: url('../img/logo.png') 0 0 no-repeat;
            width: image-width('../img/logo.png');
            height: image-height('../img/logo.png');
        }
    }
    .user-area{
        float: right;
        padding-left: 44px;
        background: url('../img/user-icon.png') 0 0 no-repeat;
        .welcome{
            font-size: em(14px);
            min-width: 130px; 
            .user-name{
                display:block;
                font-size:em(20px);
            }
        }

    }

}

@media (min-width: 768px){
    header{
        margin-bottom: 1.5em;

        .brand{
            font-size: em(38px);
        }
    }

}

@media (min-width: 1201px){
    header{
        .brand{
            font-size: em(42px);
        }
    }
}
